@model NevulaForo.Models.ViewModels.UserProfileVM

@using NevulaForo.Resources;
@{
    var userIdClaim = User.FindFirst("Id");
    int IdUser = Convert.ToInt32(userIdClaim?.Value);

    ViewData["Title"] = Model.oUser.Username;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <link rel="stylesheet" href="~/css/community.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/account.css" asp-append-version="true" />
}

<article class="container__perfil">
    <div class="container_info">
        <div class="container_info-data">
            <div class="container__profile-picture">
                <img src="@ViewBag.ProfilePicPath" alt="">
            </div>
            <div class="container_name">
                <span>@Model.oUser.Username</span>
            </div>

            @if(Model.oUser.UserRoles.First().IdRole == 2)
            {
                <!-- Esto depende si esta o no verificado -->
                <div class="container__verify" id="container__verify-1">
                    <span class="verify">VERIFICADO</span>
                    <span class="small-verify">V</span>
                    <span class="popup-verify" id="popup-verify-1">Esta persona forma parte de Nevula</span>
                </div>
            }
        </div>

        @if (IdUser == Model.oUser.Id)
        {
            <div class="container__change-profile">
                <a asp-controller="Account" asp-action="Edit" asp-route-typeEdit="General">
                    <i class="bi bi-gear"></i>
                    <span>EDITAR PERFIL</span>
                </a>
            </div>
        }
    </div>

    @if (Model.oUser.Name != null || Model.oUser.Surname != null)
    {
        <div class="container__name-surname">
            <p>@Model.oUser.Name @Model.oUser.Surname</p>
        </div>
    }

    <div class="container__description">

        @if (Model.oUser.Description != null) 
        { 
            <p>@Model.oUser.Description</p>

        } else 
        {
            <p>Aún no hay descripción</p>
        }

    </div>

    <div class="container__interaction">
        <div class="container__posts">
            <span id="posts-id=1"> @Model.oPublications.Count </span>
            <p class="posts"> publicaciones </p>
        </div>
    </div>
</article>


@foreach (var publication in Model.oPublications)
{

    <article class="main__containers-community">

        <div class="container__info">
            <div class="container__profile-pic">
                <a asp-route-IdUser="@Model.oUser.Id" asp-controller="Account" asp-action="Index">
                    <img src="@ViewBag.ProfilePicPath" alt="">
                </a>
            </div>

            <div class="container__username">
                <a asp-route-IdUser="@Model.oUser.Id" asp-controller="Account" asp-action="Index">@Model.oUser.Username</a>
            </div>

            <span class="separator__info">·</span>

            <div class="container__date">
                <span>@Utilities.StylizeDate(publication.CreatedAt)</span>
            </div>
        </div>

        <div class="container__content-post">
            <h2 class="title--post">@publication.Title</h2>
            <p class="content--post">@publication.Description</p>
            <div class="container__imgs"></div>
        </div>

        <div class="container__feedback">
            <div>
                <a class="feedback__comments" asp-route-IdPublication="@publication.Id" asp-controller="Publication" asp-action="Index">
                    <i class="bi bi-chat"></i>
                    <span>@publication.Comments.Count @((@publication.Comments.Count == 1) ? "Comentario" : "Comentarios")</span>
                </a>
            </div>

            @if (Model.oUser.Id == IdUser)
            {
                <div>
                    <a class="post__edit" asp-route-IdPublication="@publication.Id" asp-controller="Publication" asp-action="Edit"><i class="bi bi-pencil-square"></i> </a>
                    <button type="button" class="post__delete" id="delete_post-@publication.Id"><i class="bi bi-trash3"></i> </button>
                </div>
            }
        </div>

    </article>
}

@section Scripts {
    <script src="~/js/community.js" asp-append-version="true"></script>
    <script src="~/js/api/delete_post.js" asp-append-version="true"></script>
}