@model NevulaForo.Models.ViewModels.PublicationDedicatedVM

@using NevulaForo.Resources;
@using NevulaForo.Services.Implementation;
@inject UserService UserService;
@{
    ViewData["Title"] = Model.oPublication.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
    
    var userIdClaim = User.FindFirst("Id");
    int IdUser = Convert.ToInt32(userIdClaim?.Value);
}

@section Styles {
    <link rel="stylesheet" href="~/css/community.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/publication.css" asp-append-version="true" />
}

<!-- Publicacion -->
<article class="main__containers-community">
    <div class="container__info">
        <div class="container__profile-pic">
            <a asp-route-IdUser="@Model.oPublication.IdUser" asp-controller="Account" asp-action="Index">
                <img src="@UserService.GetUserProfileImagePath(Model.oPublication.IdUser)" alt="">
            </a>
        </div>

        <div class="container__username">
            <a asp-route-IdUser="@Model.oPublication.IdUser" asp-controller="Account" asp-action="Index">@Model.oPublication.IdUserNavigation.Username</a>
        </div>

        @if(Model.oPublication.IdUserNavigation.UserRoles.First().IdRole == 2)
        {
            <!-- Esto depende si esta o no verificado -->
            <div class="container__verify" id="container__verify-1">
                <span class="verify">VERIFICADO</span>
                <span class="small-verify">V</span>
                <span class="popup-verify" id="popup-verify-1">Esta persona forma parte de Nevula</span>
            </div>
        }

        <span class="separator__info">·</span>

        <div class="container__date">
            <span>@Utilities.StylizeDate(Model.oPublication.CreatedAt)</span>
        </div>
    </div>

    <div class="container__content-post">
        <h2 class="title--post">@Model.oPublication.Title</h2>
        <p class="content--post">@Model.oPublication.Description</p>
        <div class="container__imgs"></div>
    </div>

    <div class="container__feedback">
        <div>
            <a href="#" class="feedback__like"><i class="bi bi-heart"></i> 19</a>
            <a class="feedback__comments" asp-route-IdPublication="@Model.oPublication.Id" asp-controller="Publication" asp-action="Index"><i class="bi bi-chat"></i> @Model.oComments.Count</a>
        </div>
    </div>

</article>


<!-- Formulario para publicar comentarios -->
<article class="main__containers-community container_form-comment">
    <form asp-controller="Comment" asp-action="Create" method="POST" id="form__post-comment">
        <input type="hidden" asp-for="@Model.oPublication.Id" name="IdPublication">

        <input type="hidden" value="" name="IdFatherComment">
        <div class="container__profile-pic" id="form_comment-pic">
            <img src="@UserService.GetUserProfileImagePath(IdUser)" alt="Tu foto de perfil">
        </div>
        <div class="container__profile-text">
            <p>Responder desde <span class="span_username">@ViewData["username"]</span></p>
        </div>
        <div class="container__inputs-form">
            <div class="container__input-content">
                <textarea class="post_textarea" name="Description" id="Description" placeholder="Escribe una respuesta" maxlength="1750"></textarea>
            </div>

            <div class="container__inputs-finally">
                <button class="button_submit" type="submit">Publicar</button>
            </div>

        </div>
    </form>
</article>



<!-- Comentarios -->
<article class="main__containers-community" id="container__comments">
    <h3 class="title_answer">Respuestas</h3>

    @foreach (var comment in Model.oComments)
    {
        <div class="container__comment" id="comment_@comment.Id">
            <div class="container__info">
                <div class="comment__profile-pic">
                    <a asp-route-IdUser="@comment.IdUser" asp-controller="Account" asp-action="Index">
                        <img src="@UserService.GetUserProfileImagePath(comment.IdUser)" alt="">
                    </a>
                </div>

                <div class="container__username">
                    <a asp-route-IdUser="@comment.IdUser" asp-controller="Account" asp-action="Index">@comment.IdUserNavigation.Username</a>
                </div>

                @if(comment.IdUserNavigation.UserRoles.First().IdRole == 2)
                {
                    <!-- Esto depende si esta o no verificado -->
                    <div class="container__verify" id="container__verify-2">
                        <span class="verify">VERIFICADO</span>
                        <span class="small-verify">V</span>
                        <span class="popup-verify" id="popup-verify-2">Esta persona forma parte de Nevula</span>
                    </div>
                }

                <span class="separator__info">·</span>

                <div class="container__date">
                    <span>@Utilities.StylizeDate(comment.CreatedAt)</span>
                </div>
            </div>

            <div class="container__answer">
                @if(comment.IdFatherComment != null)
                {
                    <div class="container__content-cited">
                        @if(comment.IdFatherCommentNavigation.DeletedAt == null)
                        {
                            <p class="title--cited">Comentario de <a class="username_quoted" href="#comment_@comment.IdFatherCommentNavigation.Id">@@@comment.IdFatherCommentNavigation.IdUserNavigation.Username</a></p>
                            <p class="content--cited">@comment.IdFatherCommentNavigation.Description</p>
                        } else
                        {
                            <p class="content--cited" style="font-weight: 600;">¡Lo sentimos! El comentario citado fue eliminado :(</p>
                        }
                    </div>
                }
                <div class="container__content-post">
                    <p class="">@comment.Description</p>
                    <div class="container__imgs"></div>
                </div>
            </div>



            <div class="container__feedback">
                <div>
                    <a href="#" class="feedback__like"><i class="bi bi-heart"></i> 19</a>
                    <a href="#" class="feedback__aswer-comments" id="answer_comment_@comment.Id" data-comment-id="@comment.Id" data-comment-username="@comment.IdUserNavigation.Username">Responder</a>
                </div>

                @if (comment.IdUser == IdUser)
                {
                    <div>
                        <a class="post__delete" asp-route-IdComment="@comment.Id" asp-controller="Comment" asp-action="Delete"><i class="bi bi-trash3"></i> </a>
                    </div>
                }
            </div>

        </div>
    }

</article>


@section Scripts {
    <script src="~/js/community.js" asp-append-version="true"></script>
    <script src="~/js/publication.js" asp-append-version="true"></script>
}

