@model NevulaForo.Models.ViewModels.SearchVM

@using NevulaForo.Resources;
@using NevulaForo.Services.Implementation;
@inject UserService UserService;
@{
    if (Model.For == "posts")
    {
        ViewData["Title"] = "Buscar publicaciones";
    } else
    {
        ViewData["Title"] = "Buscar cuentas";
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <link rel="stylesheet" href="~/css/community.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/account.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/search.css" asp-append-version="true" />
}

<aside class="aside__menu-searches main__containers-community">
    <ul class="submenu__searches">
        <li class="submenu__searches-item">
            <a class="btn_search-posts " asp-controller="Publication" asp-action="Search" asp-route-search="@Model.Search" asp-route-for="posts">PUBLICACIONES</a>
        </li>
        <li class="submenu__searches-item">
            <a class="btn_search-accounts " asp-controller="Publication" asp-action="Search" asp-route-search="@Model.Search" asp-route-for="accounts">CUENTAS</a>
        </li>
    </ul>
</aside>


@if (Model.For == "posts")
{
    @if (Model.Publications != null && Model.Publications.Count > 0)
    {
        <div>
            @foreach (var publication in Model.Publications)
            {
                <article class="main__containers-community">

                    <div class="container__info">
                        <div class="container__profile-pic">
                            <a asp-route-IdUser="@publication.IdUser" asp-controller="Account" asp-action="Index">
                                <img src="@UserService.GetUserProfileImagePath(publication.IdUser)" alt="">
                            </a>
                        </div>

                        <div class="container__username">
                            <a asp-route-IdUser="@publication.IdUser" asp-controller="Account" asp-action="Index">@publication.IdUserNavigation.Username</a>
                        </div>

                        @if (publication.IdUserNavigation.UserRoles.First().IdRole == 2)
                        {
                            <!-- Esto depende si esta o no verificado -->
                            <div class="container__verify" id="container__verify-1">
                                <span class="verify">VERIFICADO</span>
                                <span class="small-verify">V</span>
                                <span class="popup-verify" id="popup-verify-1">Esta persona forma parte de Nevula</span>
                            </div>
                        }

                        <span class="separator__info">·</span>

                        <div class="container__date">
                            <span>@Utilities.StylizeDate(publication.CreatedAt)</span>
                        </div>
                    </div>

                    <div class="container__content-post">
                        <h2 class="title--post">@publication.Title</h2>
                        <p class="content--post">@publication.Description</p>
                        <div class="container__imgs"></div>
                    </div>

                    <div class="container__feedback">
                        <div>
                            <a href="#" class="feedback__like"><i class="bi bi-heart"></i> 19</a>
                            <a class="feedback__comments" asp-route-IdPublication="@publication.Id" asp-controller="Publication" asp-action="Index"><i class="bi bi-chat"></i> @publication.Comments.Count</a>
                        </div>
                    </div>

                </article>
            }
        </div>

    }
    else
    {
        <p>No se encontraron resultados.</p>
    }

}
else if (Model.For == "accounts")
{
    @if (Model.Users != null && Model.Users.Count > 0)
    {
        <div>
            @foreach (var account in Model.Users)
            {
                <article href="#" class="container__perfil">
                    <div class="container_info">
                        <div class="container_info-data">
                            <div class="container__profile-picture">
                                <img src="@UserService.GetUserProfileImagePath(account.Id)" alt="">
                            </div>
                            <div class="container_name">
                                <a asp-controller="Account" asp-action="Index" asp-route-IdUser="@account.Id">@account.Name @account.Surname</a>
                                <span class="separator__info">·</span>
                                <a asp-controller="Account" asp-action="Index" asp-route-IdUser="@account.Id" class="text-username">@@@account.Username</a>
                            </div>

                            @if (account.UserRoles.First().IdRole == 2)
                            {
                                <!-- Esto depende si esta o no verificado -->
                                <div class="container__verify" id="container__verify-1">
                                    <span class="verify">VERIFICADO</span>
                                    <span class="small-verify">V</span>
                                    <span class="popup-verify" id="popup-verify-1">Esta persona forma parte de Nevula</span>
                                </div>
                            }
                        </div>
                    </div>
                </article>
            }
        </div>
    }
    else
    {
        <p>No se encontraron resultados.</p>
    }

}

@section Scripts {
    <script src="~/js/community.js" asp-append-version="true"></script>
    <script src="~/js/search.js" asp-append-version="true"></script>
}

