@model NevulaForo.Models.ViewModels.UserProfileVM

@using System.Security.Claims
@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor;

@{
    string? connectionId = HttpContextAccessor?.HttpContext?.Connection.Id;
    var Claims = HttpContextAccessor.HttpContext.User.Claims;
    string? IdUser = Claims.Where(c => c.Type == "Id").Select(c => c.Value).SingleOrDefault();

    ViewData["Title"] = Model.oUser.Username;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <link rel="stylesheet" href="~/css/community.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/account.css" asp-append-version="true" />
}

<article class="container__perfil">
    <div class="container_info">
        <div class="container_info-data">
            <div class="container__profile-picture">
                <img src="~/images/profiles/default.jpg" alt="">
            </div>
            <div class="container_name">
                <span>@Model.oUser.Username</span>
            </div>

            @if(Model.oUser.UserRoles.First().IdRole == 2)
            {
                <!-- Esto depende si esta o no verificado -->
                <div class="container__verify" id="container__verify-1">
                    <span class="verify">VERIFICADO</span>
                    <span class="small-verify">V</span>
                    <span class="popup-verify" id="popup-verify-1">Esta persona forma parte de Nevula</span>
                </div>
            }
        </div>

        @if (IdUser == Model.oUser.Id.ToString())
        {
            <div class="container__change-profile">
                <a asp-controller="Account" asp-action="Edit" asp-route-typeEdit="General">
                <span>EDITAR PERFIL</span>
                </a>
            </div>
        }
    </div>

    <div class="container__description">

        @if (Model.oUser.Description != null) 
        { 
            <span>@Model.oUser.Description</span>

        } else 
        {
            <span>Aún no hay descripción</span>
        }

    </div>

    <!-- depende si es otra cuenta se tiene que mostrar seguir o cambiar perfil -->
    <div class="container__interaction">
        <div class="container__posts">
            <span id="posts-id=1"> @Model.oPublications.Count </span>
            <a href="#" class="posts"> publicaciones </a>
        </div>
        <div class="container__followers">
            <span id="posts-id=1"> 5M </span>
            <a href="#" class="posts"> seguidores </a>
        </div>
        <div class="container__following">
            <span id="posts-id=1"> 6 </span>
            <a href="#" class="posts"> seguidos </a>
        </div>
    </div>
</article>


@foreach (var publication in Model.oPublications)
{

    <article class="main__containers-community">

        <div class="container__info">
            <div class="container__profile-pic">
                <a asp-route-IdUser="@Model.oUser.Id" asp-controller="Account" asp-action="Index">
                    <img src="~/images/profiles/default.jpg" alt="">
                </a>
            </div>

            <div class="container__username">
                <a asp-route-IdUser="@Model.oUser.Id" asp-controller="Account" asp-action="Index">@Model.oUser.Username</a>
            </div>

            @if(Model.oUser.UserRoles.First().IdRole == 2)
            {
                <!-- Esto depende si esta o no verificado -->
                <div class="container__verify" id="container__verify-1">
                    <span class="verify">VERIFICADO</span>
                    <span class="small-verify">V</span>
                    <span class="popup-verify" id="popup-verify-1">Esta persona forma parte de Nevula</span>
                </div>
            }

            <span class="separator__info">·</span>

            <div class="container__date">
                <span>@publication.CreatedAt.ToShortDateString()</span>
            </div>
        </div>

        <div class="container__content-post">
            <h2 class="title--post">@publication.Title</h2>
            <p class="content--post">@publication.Description</p>
            <div class="container__imgs"></div>
        </div>

        <div class="container__feedback">
            <div>
                <a href="#" class="feedback__like"><i class="bi bi-heart"></i> 19</a>
                <a class="feedback__comments" asp-route-IdPublication="@publication.Id" asp-controller="Publication" asp-action="Index"><i class="bi bi-chat"></i> @publication.Comments.Count</a>
            </div>

            @if(Model.oUser.Id == publication.IdUser)
            {
                <div>
                    <a class="post__edit" asp-route-IdPublication="@publication.Id" asp-controller="Publication" asp-action="Edit"><i class="bi bi-pencil-square"></i> </a>
                    <a class="post__delete" asp-route-IdPublication="@publication.Id" asp-controller="Publication" asp-action="Delete"><i class="bi bi-trash3"></i> </a>
                </div>
            }
        </div>

    </article>
}

@section Scripts {
    <script src="~/js/community.js" asp-append-version="true"></script>
}